# Google Cloud reCAPTCHA Enterprise
GOOGLE_RECAPTCHA_PROJECT_ID=seu-projeto-gcp
GOOGLE_RECAPTCHA_SITE_KEY=sua-site-key
GOOGLE_CREDENTIALS_JSON={"type":"service_account",...}

# Brevo (Email)
BREVO_API_KEY=sua-api-key-brevo
BREVO_SENDER_EMAIL=contato@cajuinasaogeraldo.com.br
BREVO_SENDER_NAME=Cajuína São Geraldo
